# WARNING: these sockets shouldn't be under /data
allow mm-qcamerad system_data_file:dir w_dir_perms;
allow mm-qcamerad system_data_file:sock_file unlink;
type_transition mm-qcamerad system_data_file:sock_file camera_socket "cam_socket0";
#Test
unix_socket_connect(mm-qcamerad, mpctl, mpdecision)
allow mm-qcamerad system_server:unix_stream_socket { read write };
allow servicemanager mm-qcamerad:dir search;
allow servicemanager mm-qcamerad:file { open read };
allow servicemanager mm-qcamerad:process { getattr };
binder_call(mm-qcamerad, servicemanager)
binder_call(mm-qcamerad, system_server)